*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.add-wrapper{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.update-img{
    height: 150px;
    width: 150px;
    /* border-radius:50%; */
}

.input-field-container{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

input[type='text']{
    width: 100%;
    height: 6.5vh;
    border-radius: 5px;
    border: 1px solid black;
    font-size: 0.9rem;
    padding-left: 1rem;   
}


textarea{
    padding-left: 1rem;  
    width: 100%; 
    height: 35vh;
    font-size: 0.9rem;
    padding-top: 1rem;
    border-radius: 5px;
    border: 1px solid black;
}

textarea:focus, input[type='text']:focus{
    outline: none;
}

.input-field-container button{
    display: flex;
    align-self: center;
    padding: 0.7rem 2rem;
    font-size: 0.9rem;
    background-color: #2BC46C;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-family: sans-serif;
    font-weight: 600;
    cursor: pointer;
}

/* media query for mobile devices */
@media (min-width:320px) and (max-width: 480px){
    .admin-main-section{
        width: 100%;
        padding: 1rem;
    }
}