.product-container{
    display: flex;
    flex-direction: column;
    gap: 3rem;

}

/* loader styling */

.lds-roller {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    /* border: 2px solid black; */
    margin: 9rem auto;
  }
  .lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 45px;
  }
  .lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #fff;
    margin: -4px 0 0 -4px;
  }
  .lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
  }
  .lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
  }
  .lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
  }
  .lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
  }
  .lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
  }
  .lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
  }
  .lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
    background-color: rgba(0, 0, 0, 0.5);

  }
  .lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
  }
  .lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
  }
  .lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
    background-color: rgba(0, 0, 0, 0.5);
  }

  @keyframes lds-roller {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

.table-form-container{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.customer-form-container{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.table-data{
    display: flex;
    justify-content: space-between;
}

.table-container img{
    width: 50px;
    border-radius: 50%;
    height: 50px;
}

.table-data span{
    font-size: 1rem;
    font-family: 'Times New Roman', Times, serif;
}

.payment{
    font-size: 0.9rem;
    color:#2BC46C;
}

.table-icon{
    color: red;
    font-size: 1.5rem;
    cursor: pointer;
}

.view-icon{
  color: #1479F4;
  font-size: 1.3rem;
  cursor: pointer;
}

.table-edit{
    color: #1479F4;
    font-size: 1.5rem;
    cursor: pointer;
}

@media (min-width:320px) and (max-width: 480px){
    .table-data img{
        border-radius: 50%;
    }

    .table-form-container{
        overflow-x: scroll;
    }

    .category-span, .price-span{
        /* color:  red; */
        padding-left: 1.3rem;
    }
}